<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Database Connection -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/employee_management"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <!-- DAO -->
    <bean id="employeeDAO" class="com.example.employee.dao.EmployeeDAO">
        <constructor-arg ref="dataSource"/>
    </bean>
    <!-- Service -->
    <bean id="employeeService" class="com.example.employee.service.EmployeeService">
        <constructor-arg ref="employeeDAO"/>
    </bean>
    <!-- Controller -->
    <bean id="employeeController" class="com.example.employee.controller.EmployeeController">
        <constructor-arg ref="employeeService"/>
    </bean>
</beans>